@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');



/* Page headers */

/* .page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
} */

/* .quotes .page-header {
    margin-bottom: 25px;
} */




/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(107, 2, 37, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: xx-large;
}

.navbar-brand .far {
    color: rgb(230, 196, 4);
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Callout */
.hero {
    background-color: black;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("/assets/images/blank\ logo2.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

#cover-text {
    z-index: 2;
    color: white;
    position: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 390px;
}

#cover-text h1 {
    font-size: 300%;
    margin-bottom: 70px;
}

#cover-text p {
    font-size: 200%;
}

/* Intro */

.intro-container {
    padding-top: 75px;
    padding-bottom: 75px;
} 
.meet {
    text-align: center;
    margin: 50px;
}





/* Buttons */

/* .btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
} */

/* Intro */

.coach-pic{
    background: url("../images/coach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.assistant-pic{
    background: url("../images/assistant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.squad-pic{
    background: url("../images/squad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}


.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

/* Footer */
footer{
    height: 150px;
    background-color: rgb(230, 196, 4);
} 
    
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: rgba(107, 2, 37, 1);
}
