@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');



/* Page headers */

/* .page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
} */

/* .quotes .page-header {
    margin-bottom: 25px;
} */




/* -----------------------------------Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(107, 2, 37, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: xx-large;
}

.navbar-brand .far {
    color: rgb(230, 196, 4);
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: rgb(230, 196, 4);
}

/* -----------------------------------Callout */
.hero {
    background-color: black;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("assets/images/blanklogo") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

#cover-text {
    z-index: 2;
    color: white;
    position: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 390px;
}

#cover-text h1 {
    font-size: 300%;
    margin-bottom: 70px;
}

#cover-text p {
    font-size: 200%;
}

/* -----------------------------------Intro */

.intro-container {
    padding-top: 25px;
    padding-bottom: 25px;
} 
.meet {
    text-align: center;
    margin: 50px;
}

.border {
    border-color: rgba(107, 2, 37, 1)!important;
    border-radius: 20px;
}

.coach-pic{
    background: url("../images/coach1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.assistant-pic{
    background: url("../images/assistant1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.squad-pic{
    background: url("../images/squad1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

/* .intro i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
} */

/* -----------------------------------Join */

.container-join {
    padding-top: 25px;
    padding-bottom: 50px;
} 
.btn-join {
    font-weight: bold;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    color: white;
    background-color: rgba(107, 2, 37, 1);
    border-color: #000;
} 

/* .btn-join:hover,
.btn-join:active,
.btn-join:focus,
.btn-join:active:focus {
    background-color: rgba(107, 2, 37, 1);
    border-color: #000;
    color: white;
} */






/* -----------------------------------Footer */
footer{
    height: 150px;
    background-color: rgb(230, 196, 4);
} 
    
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: rgba(107, 2, 37, 1);
}

/* -----------------------------------Gallery */
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 1px;
}

#photo img{
    width: 100%;
    padding-top: 1px;
}

@media screen and (max-width: 943px){
    #photo{
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}


/* -----------------------------------Training */
.container-training {
    padding-top: 25px;
} 
.timetable {
    text-align: center;
    margin: 50px;
}

/* .border {
    border-color: rgba(107, 2, 37, 1)!important;
    border-radius: 20px;
} */

.days {
    background-position: center;
    min-height: 250px;
    background-color: rgba(107, 2, 37, 1);
    text-align: center;
    color: white;
    padding: 40px 0 0 10px;
    margin-bottom: 40px;
}

/* .days div {
    width: 19%;
    float: left;
    margin: 1px;
} */

.days i {
    color: rgb(230, 196, 4);
}

@media screen and (max-width: 1200px){
     .days div {
        width: 100%;
        clear: both;
        height: 250px;
        padding-top: 30px;
    }
}

/* -----------------------------------Upcoming */
.container-upcoming {
    padding-bottom: 25px;
} 

.timeline {
    text-align: center;
    margin: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
    border-color: rgba(107, 2, 37, 1);
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.bullet-line{
    padding-left: 100px;
    padding-right: 50px;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: rgba(107, 2, 37, 1);
}

.fixture-items {
    margin-bottom: 30px;
}